@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@layer base {
  body {
    background-color: #CFFAFE;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: grid;
    place-content: center;
  }
}